<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
">

    <bean id="imageEngine" class="com.ppsdevelopment.imagelib.ImageEngine">
        <property name="dx" value="10" />
        <property name="dy" value="0" />
        <property name="withRatio" value="0.67" />
        <property name="heightRatio" value="0.1" />
        <property name="fontLineHeightRatio" value="0.2" />
        <property name="destinationPath" value="c://files//pict_text//"/>
        <property name="filesPathReader" ref="filesPathReader"/>
        <property name="importProcessor" ref="importProcessor"/>

    </bean>

    <bean id="importProcessor" class="com.ppsdevelopment.ImportProcessor">
        <property name="filePath" value="c://files/1.xlsx"/>
    </bean>

    <bean id="filesPathReader" class="com.ppsdevelopment.FilesPathReader">
        <constructor-arg index="0" value="c:/files/pict//"/>
        <constructor-arg index="1" value="jpg"/>
    </bean>

</beans>